<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.wear.services.cuttlefish.overlay">

    <application android:hasCode="false" />

    <overlay
        android:targetPackage="com.google.wear.services"
        android:targetName="WearServicesConfig"
        android:isStatic="true"
        android:priority="0"
        android:resourcesMap="@xml/overlay"
    />
</manifest>
