allow virtual_camera gpu_service:service_manager find;
binder_call(virtual_camera, gpuservice)

# Access minigbm properties.
get_prop(cameraserver, vendor_minigbm_debug_prop)
