get_prop(platform_app_all, vendor_aware_available_prop)

# allow systemui to set boot animation colors
set_prop(platform_app_all, bootanim_system_prop);
